<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bodyStyle.css">
</head>
<body>
	<h1>회원가입 홈</h1>
	<div th:include="fragments/layout :: link"></div>
	<form action="/registStudent" method="post">
		id : <input type="text" name="username"> <br> <br>
		pw : <input type="text" name="password"><br> <br>
		name : <input type="text" name="name"><br> <br> 
		<input type="submit" value="회원가입">
	</form>
</body>
</html>